.coverContainer {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
  vertical-align: top;
  position: relative;
}

.bookItem {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0px;
}

button.close {
  float: none;
  vertical-align: top;
  margin-right: -15px;
  margin-top: -15px;
}

button.trade {
  float: none;
  vertical-align: top;
  margin-right: -15px;
  margin-top: -15px;
}

.myBooks-icon {
  border: 0;
  position: absolute !important;
  top: 3px !important;
  left: 3px !important;
  font-size: 12px;
  background: transparent;
}